/* Put your custom CSS here */
.object_details li
{
  list-style-type: none;
}

.object_details h4
{
  margin: 0;
  padding-left: 0.7em;
}

.object_details .ui-block-a ul
{
  margin: 0;
  padding-left: 0.5em;
}

.object_details ul
{
  margin: 0;
  padding-left: 1em;
}

.object_details .ui-grid-a
{
  margin: 0.1em 0.4em 0 0.4em;
  padding: 0.3em;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 10px;
  border-radius: 10px
}

/*
 .object_details .ui-block-a, .object_details .ui-block-b
 {
 margin-left: 1em;
 }*/
