/* Put your custom CSS here */
.object_details li
{
    list-style-type: none;
}

.object_details h4
{
    margin: 0;
    padding-left: 0.7em;
}

.object_details ul
{
    margin: 0;
    padding-left: 1em;
}

.object_details .ui-block-a
{
    /*padding-left: 0.5em;*/
   border: 1px solid red;
}
